<input #checkbox1 type="checkbox" name="toggle" id="toggle">
<label for="toggle"></label>
<div class="container">
</div>
<div class="formAdd">
  <form autocomplete="off" #myForm="ngForm" (ngSubmit)="myForm.form.valid && submit(myForm)">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <input type="hidden" name="id" [value]="CounService.countryData.id">

          <label for="name" class="float-left">Country</label>
          <div *ngIf="name.invalid && (name.touched || name.dirty)" class="float-right">
            <p class="text-danger">Required</p>
          </div>
          <input type="text" name="name" class="form-control" placeholder="Enter Name" #name="ngModel" [(ngModel)]="CounService.countryData.countryName" required>
        </div>

      </div>


      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
          <button type="submit"  class="btn btn-success btn-block">Save</button>
        </div>
        <div class="col-md-2">
          <button type="reset" class="btn btn-danger btn-block">Cancel</button>
        </div>
      </div>


    </div>
  </form>
</div>
